 <ul class="dockItemList">
        <li class="appbutton_grbl" title="组织" onclick="zuzhihtml(); return false">
          <div class="appbutton_img styleico1"></div>
          <div class="appbtn_title">组织</div>
        </li>
        <li class="appbutton_grass" title="短信" onclick="Emessagehtml(); return false">
          <div class="appbutton_img styleico2"></div>
          <div class="appbtn_title">短信</div>
        </li>

        <li class="appbutton_addressBook" title="通讯录" onclick="addressBookhtml(); return false">
          <div class="appbutton_img styleico3"></div>
         <a class="appbutton_addressBook" href="/contacts">通讯录</a>
        </li>
        <li class="appbutton_ora" title="新建公文"><a href="print_model2.html" target="_blank">
          <div class="appbutton_img styleico4"></div>
          <div class="appbtn_title">新建公文</div>
          </a> </li>
        <li class="appbutton_registration" title="设备登记" onclick="equipmenthtml(); return false">
          <div class="appbutton_img styleico5"></div>
          <div class="appbtn_title">设备登记</div>
        </li>
        <li class="appbutton_green" title="通知" onclick="noticehtml(); return false">
          <div class="appbutton_img styleico6"></div>
          <div class="appbtn_title">通知</div>
        </li>
      </ul>
      <!--settingbutton-->
      <div class="settingbutton"><a href="" class="appbutton_img" title="设置"></a></div>