  <div id="rightBar">
      <!-- login -->
      <div class="right_zone">
        <div class="webaddress"> LzzLoveU.ambow.com</div>
        <div id="loginbox"> <a href="#" onclick="loginhtml(); return false" class="systemicon">设置</a> <a href="#" class="closeicon">退出</a> </div>
      </div>
      <div class="right_ztwo"> <a href="#"  class="user_headimg" title="用户" style="float:left;"><img src="images/face.jpg" width="52" height="60" /></a><a href="#" class="xialaicon" style="float:left;margin-left:10px;margin-top:30px;">&nbsp;</a></div>
    </div>